<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ondemand-package-summary"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding bdrBtm orderSummaryGrid">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class="d-flex ion-justify-content-between ion-align-items-start">
          <ion-label class="ion-no-margin">
            <h4>ID : 545114545</h4>       
            <p>Today, 22/05/2020, 10:30PM</p>
          </ion-label> 
          <ion-chip>
            <ion-icon name="checkmark-circle" color="success" size="small"></ion-icon>
            <ion-label>Cash</ion-label>
          </ion-chip>
        </div>
         
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding ion-padding-vertical bdrBtm carDetailSummary">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="ion-align-items-center">
          <ion-thumbnail slot="start">
            <img  alt="maruthi suzuki alto" src="../../../../assets/images/cars/Maruti Suzuki Alto.svg" />
          </ion-thumbnail>
          <ion-label class="ion-no-margin ion-margin-start">
            <h4>Alto 800</h4>       
            <p>DL X4 XX58</p>
          </ion-label>     
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding  confirmServiceGrid bdrBtm">
    <ion-row class="ion-no-padding ion-padding-horizontal bdrBtm">
      <ion-col class="ion-no-padding d-flex ion-justify-content-between ion-align-items-center">
        <ion-label>On demand package</ion-label>
        <ion-button class="btnTrack" fill="solid">View subscription</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-margin-horizontal">
      <ion-col class="ion-no-padding">
        <ion-item lines="none" class="ion-align-items-start ion-margin-vertical">
          <ion-icon slot="start" src="../../../../assets/images/car-wash/Component 37 – 2.svg"></ion-icon>
          <ion-label class="ion-no-margin">
            <span class="d-flex ion-justify-content-between ion-align-items-center txtHead">4 Exterior shine and interior shine   
              <span class="txtPrice">₹149  <ion-icon name="close-circle"></ion-icon></span>            
            </span>
            <p>Premium body wash</p>
            <p>Interior cleaning</p>
            <span class="d-flex ion-justify-content-between txtValidity">Start Date: 01 Jan 2023  <span>1 Month validity</span> </span>
                    
          </ion-label> 
              
        </ion-item>     
      </ion-col>
    </ion-row>
  </ion-grid>

 

  <h6 class="ion-no-margin ion-margin-top ion-margin-horizontal">Amount</h6>
  <ion-grid class="amtGrid">
    <ion-row>
      <ion-col size="9" class="ion-text-end ion-no-padding">Sub total</ion-col>
      <ion-col size="1" class="ion-text-center ion-no-padding">:</ion-col>
      <ion-col size="2" class="ion-text-end ion-no-padding">₹298</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9" class="ion-text-end ion-no-padding">Wallet amount</ion-col>
      <ion-col size="1" class="ion-text-center ion-no-padding">:</ion-col>
      <ion-col size="2" class="ion-text-end ion-no-padding">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9" class="ion-text-end ion-no-padding">Discount</ion-col>
      <ion-col size="1" class="ion-text-center ion-no-padding">:</ion-col>
      <ion-col size="2" class="ion-text-end ion-no-padding">60</ion-col>
    </ion-row>   
  </ion-grid>
  <ion-row class="ion-padding-horizontal totalAmt">
    <ion-col size="9" class="ion-text-end ion-no-padding">Pending cash collection</ion-col>
    <ion-col size="1" class="ion-text-center ion-no-padding">:</ion-col>
    <ion-col size="2" class="ion-text-end ion-no-padding">₹238</ion-col>
  </ion-row>

  <ion-row class="ion-no-margin bdrBtm">
    <ion-col size="12">
      <ion-button fill="clear" color="secondary"  expand="block">
        <ion-icon src="../../../../assets/images/car-wash/download.svg" slot="start"></ion-icon> Download Invoice</ion-button>
    </ion-col>    
  </ion-row>

  <ion-button fill="solid" color="dark" expand="block" class="ion-margin" (click)="home()">Cancel Order</ion-button>


</ion-content>
