ion-content{
    --background: #1B1B1B;
}
.d-flex{
    display:flex;
    text-align: center;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height:95vh;
}
h1{
    color:white;
}
ion-icon{
    font-size:75px;
}