<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Alto 800</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="membershipCard" color="dark">   
    <ion-card-content>
      <ion-item lines="none" color="dark" class="ion-align-items-start">
        <ion-thumbnail slot="start">
          <img alt="Gold Membership" src="../../../../assets/images/car-wash/gold memberx.svg" />
        </ion-thumbnail>
        <ion-label class="ion-no-margin">
          <div class="d-flex ion-justify-content-between ion-align-items-center">
            <h4>Alto 800</h4>
            <ion-chip>
              <ion-icon name="checkmark-circle" color="success" size="small"></ion-icon>
              <ion-label color="success">verified</ion-label>
            </ion-chip>
          </div>         
          <p>00545XXX</p>
          <ion-note>Expiry date : 25 jan 2023</ion-note>
        </ion-label> 
      </ion-item>

    </ion-card-content>
  </ion-card>

  <div class="d-flex ion-align-items-center ion-justify-content-between">
    <h6 class="ion-margin">Benefits</h6>
    <p class="ion-margin txtBlue">Download PDF</p>
  </div>
  <ion-card class="benefitsCard ion-no-margin ion-margin-horizontal">
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="car wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>Free Filter</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="d-flex ion-align-items-center ion-justify-content-between">
    <h6 class="ion-margin">Availed wash coupons</h6>
    <p class="ion-margin txtBlue">View all</p>
  </div>
  <ion-card class="benefitsCard ion-no-margin ion-margin-horizontal">
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="car wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>Free Filter</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="body wash" src="../../../../assets/images/car-wash/Body wash.svg" />
          </ion-thumbnail>
          <ion-label>
            <h4>10% Off</h4>
            <p>Basic Service</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
