<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/images/contact.png" alt="Contact us" />
  <div class="d-flex fd-Column ion-justify-content-between ion-align-items-center contactBox">
    <ion-label>We're here to help!</ion-label>
    <p>If you have any queries related to any of our service or 
      packages, you can contact us on the below 
      mentioned phone number or email.</p>
    <h3 class="ion-no-margin">+91 8892 8892 14</h3>
    <small>(10:00 AM to 06:00 PM)</small>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
        <ion-button class="btnCall">
          <ion-icon name="call" slot="start"></ion-icon> Call
        </ion-button>
        </ion-col>
        <ion-col size="6">
        <ion-button class="btnWhatsapp">
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon> Whatsapp</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="d-flex ion-justify-content-between ion-align-items-center contactMail">
      <h6 class="ion-no-margin email">customercare@fixigo.in</h6>
      <ion-chip>
        <ion-icon name="mail"></ion-icon>        
      </ion-chip>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="termsGrid">
      <ion-row class="ion-text-center">
        <ion-col size="6" class="bdrSeparator">Terms & condition</ion-col>
        <ion-col size="6">Privacy Policy</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  </ion-footer>
