<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Refer & Earn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../../assets/images/refer-earn.png" alt="refer and earn" class="referImg" />
  <div class="d-flex ion-justify-content-between ion-align-items-center referBox">
    <ion-label>Refer a friend and get 100 points free</ion-label>
    <ion-note>Use invitation code</ion-note>
    <p>5FA5SW</p>
    <ion-button class="btnInvite">Invite</ion-button>
    <ion-button fill="clear" expand="block" color="secondary">Copy code</ion-button>
  </div>

</ion-content>
