<ion-header>
  <ion-toolbar>
    <ion-title>My Subscriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-card class="subscriptionCard gold">
        <ion-card-content>
          <ion-card>
            <ion-card-content>
              <ion-item detail="true" lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>
                  <p>ID: 12345</p>
                  <h3>Service Name</h3>
                  <small>Expiry date: 01-01-2030</small>
                </ion-label>         
              </ion-item>
            </ion-card-content>
          </ion-card>
          <p>Subscription service</p>
        </ion-card-content>
      </ion-card>
     
    </ion-item>
    <ion-item lines="none">
      <ion-card class="subscriptionCard silver">
        <ion-card-content>
          <ion-card>
            <ion-card-content>
              <ion-item detail="true" lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
                  />
                </ion-thumbnail>
                <ion-label>
                  <p>ID: 12345</p>
                  <h3>Service Name</h3>
                  <small>Expiry date: 01-01-2030</small>
                </ion-label>         
              </ion-item>
            </ion-card-content>
          </ion-card>
          <p>Subscription service</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
