<ion-header>
  <ion-toolbar>
    <ion-title>My Subscriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" (click)="subscription()">
      <ion-card class="subscriptionCard gold">
        <ion-card-content>
          <ion-card>
            <ion-card-content>
              <ion-item detail="true" lines="none">
                <ion-thumbnail slot="start">
                  <img
                    alt="Maruthi Suzuki Alto 800"
                    src="../../../assets/images/cars/Maruti Suzuki Alto.svg"
                  />
                </ion-thumbnail>
                <ion-label>
                  <p>ID : 545114545</p>
                  <h3>Alto 800 DL X4 XX58</h3>
                  <small>Expiry date : 25 Jan 2023</small>
                </ion-label>         
              </ion-item>
            </ion-card-content>
          </ion-card>
          <p>Fixigo Gold membership</p>
        </ion-card-content>
      </ion-card>
     
    </ion-item>
    <ion-item lines="none" (click)="ondemandpackage()">
      <ion-card class="subscriptionCard silver">
        <ion-card-content>
          <ion-card>
            <ion-card-content>
              <ion-item detail="true" lines="none">
                <ion-thumbnail slot="start">
                  <img  alt="Maruthi Suzuki Alto 800"  src="../../../assets/images/cars/Maruti Suzuki Alto.svg"/>
                </ion-thumbnail>
                <ion-label>
                  <p>ID : 545114545</p>
                  <h3>Alto 800 DL X4 XX58</h3>
                  <small>Expiry date : 25 Jan 2023</small>
                </ion-label>         
              </ion-item>
            </ion-card-content>
          </ion-card>
          <p>On demand Subscription Package</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
