<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>My Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h6 class="ion-margin">Address</h6> -->
  <ion-card class="addressCard">   
    <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
      <ion-card-subtitle>Home</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="full" class="ion-align-items-start">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          Home no. 5XX, Street 3, GM road, Sec-70, Noida, Uttar Pradesh 201301.
        </ion-label>
      </ion-item>
      <div class="ion-float-end actionBtn">
        <ion-button class="btnEdit">Edit</ion-button>
        <ion-button class="btnDelete">Delete</ion-button>
      </div>     
    </ion-card-content>
  </ion-card>

  <ion-card class="addressCard">   
    <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top">
      <ion-card-subtitle>Office</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="full" class="ion-align-items-start">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          Home no. 5XX, Street 3, GM road, Sec-70, Noida, Uttar Pradesh 201301.
        </ion-label>
      </ion-item>
      <div class="ion-float-end actionBtn">
        <ion-button class="btnEdit">Edit</ion-button>
        <ion-button class="btnDelete">Delete</ion-button>
      </div>     
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="btnWhite ion-margin"><ion-icon name="add" slot="start"></ion-icon>Add new address</ion-button>

</ion-content>
