/* iOS places the subtitle above the title */
ion-toolbar {
    --background: #ffffff;
    --color: #19422d;  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  ion-content{
    --background: #f6f6f6;
  }
  ion-list{
    background: none;
  }
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-card.subscriptionCard {
    margin: 7px 0px;
    padding: 0px 0px;
    border-radius: 21px;
  }
  ion-card {
    --background: #ffffff;
    box-shadow: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
  }
  ion-card-content {
    padding: 0px;
  }
  ion-item {
    --padding-start: 15px;
    font-size: 13px;
    --padding-end: 0px;
    margin-bottom: 0px;
    --background: transparent;
  }
  ion-label {
    display: block;
  }
  p {
    font-size: 13px;
  }
  ion-label P {
    padding: 0px !important;
  }
  
  .gold {
    background: rgba(160, 143, 47, 0.582);
  }
  .silver {
    background: silver;
  }
  
  .subscriptionCard p {
    padding: 7px 10px;
    color: black;
  }
  
  // ion-segment-button {
  //   --color-checked: white;
  //   --indicator-color: black;
  //   min-height: 40px;
  // }
  
  ion-card.defaultCard {
    margin: 5px 0 5px;
    ion-card-content{
      ion-thumbnail{
        width:75px;
      }
      ion-label{
        p{
          color: #231F20;
          font-family: 'SF UI DISPLAY Light'; 
          font-size:12px;
          letter-spacing: 0.3px;
          margin-bottom: 5px;
          align-items: center;
          display: flex;
          span {
            color: white;
            padding: 1px 4px;
            font-size: 10px;
            border-radius: 4px;
            line-height: 1.5em;
            margin-left: 5px;
            &.process{
              background: orange;
            }
            &.completed{
              background: green;
            }
            &.expired{
              background: red;
            }
          }
        }
        small{
          font-size:12px;
          margin-top: 5px;
        }
      }
    }

  }
  
  ion-item.filterItem {
    --padding-end: 0px;
  }
  ion-chip {
    margin: 0px;
    --background: transparent;
  }
  
  ion-grid.serviceInformation {
    background: #F6F6F6;
    padding: 10px;
  }
  ion-segment {
    --background: #fff;
  }
  ion-segment-button {
    --border-width: 0px;
    --indicator-height: 40px;
    height: 40px;
    --indicator-color: #231F20;
    --color: #878D97;
    --color-checked: #fff;
  }
  .serviceInformation ion-label.heading {
    font-size: 14px;
    font-weight: 500;
    color: #a6a6a6;
  }