
ion-toolbar {
    --background: #ffffff;
    --color: #19422d;
  
    /* --border-color: #f24aec; */
    --border-width: 0px 0 0.55px 0;
    /* --border-style: double; */
  
    /* --min-height: 80px; */
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  
  ion-content{
    --background: #ffffff;
  }
  .d-flex{
    display:flex;
  }
  .bdrBtm{
    border-bottom: 0.55px solid #eee;
  }

  ion-item.themeItem{
    --background: #F5F9FD;
    border-radius:10px;
    --min-height: 55px;
    border: 1px solid #E7E7E8;
    margin-bottom: 5px;
    ion-label{
        margin-top:15px;
        ion-icon{
            font-size:18px;
            color: #232323;
        }
    }
    ion-input{
        --color: #232323;
        --placeholder-color: #232323;
        --placeholder-opacity: 1;
    }
  }

  ion-grid.profileFieldGrid{
    padding:0px;
  }

  ion-grid.membershipGrid{
    padding:0px;
    ion-row{
        ion-col{
            ion-label{
                font-size: 14px;
                margin-left: 7px;
            }
        }
    }
    ion-button.btnDownload{
        font-size:13px;
        color: blue;
    }
    ion-item.themeSelectItem{
        --background: transparent;
        border-radius:10px;
        --min-height: 50px;
        border: 1px solid #E7E7E8;
        margin-bottom: 5px;
        --padding-start: 15px;
        h5{
            font-size:16px;
        }
    }
    ion-select {
        --placeholder-color: #971e49;
        --placeholder-opacity: 1;
        width: 100%;
        justify-content: center;
    }
    .txtBlue{
        color: blue;
    }
  }
  
  .userProfile {
    background: #f7f7f7;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 50%;
    margin:0 auto;
    position: relative;
    border: 1px solid #E7E7E8;
    ion-icon{
        font-size:30px;
    }
    .cameraIcon {
        position: absolute;
        top: 55px;
        right: 0px;
        ion-icon{
            font-size: 18px;
            color: white;
            padding: 4px;
            background: #232323;
            border-radius: 50%;
        }
    }
}

ion-content.carModal{
    --background: #F6F6F6;
    ion-item{
        --min-height:75px;
        --border-radius: 10px;
    }
}

ion-card.membershipCard {
    margin: 15px 0px 5px;
    ion-card-content {
        ion-item{
            --padding-start:0px;
            --inner-padding-end:0px;
            ion-thumbnail{
                width:95px;                
            }
            ion-label{
                ion-note{
                    font-size: 11px;
                }
                p{
                    font-size: 13px;
                }
                h4{
                    font-size: 18px;
                }
            }
        }
    }
}

  ion-chip{
    --background:transparent;
    font-size:11px;
    margin:0px;
  }